	body{
	width:800px;
	text-align:center;
	font-family:Quicksand,sans-serif;-webkit-font-smoothing:antialiased;
	font-size: 26px;
	font-weight:bold;
        color: #eee;             
        }

        .step{
        width:900px;
        }
                
        .slide {
	position: relative;
        width: 600px;
        height: 600px;
        padding: 40px 60px;
        margin: 20px auto;

	box-sizing: border-box;

        line-height: 1.5;
        background-color: #eee;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .1);                 
        text-shadow: none;
        letter-spacing: -1px;
        }

	#titulo {
	text-align:left;
	font-size: 55px;
	font-weight:bold;
        color: black;             
        }

	#contacto {
	font-size: 21px;
	font-weight:bold;
        color: black;             
        }

	.darker {
	background-image: url('https://2.bp.blogspot.com/-IKVlvErApkg/W9De2p_vejI/AAAAAAAADAU/V4DOG4QRjfIpYty0oCbb9TrujdwULOB9QCLcBGAs/s1600/mindfulness1.JPG')
	}

	.darker1 {
	background-image: 
	linear-gradient(
      	rgba(0, 0, 0, 0.5),
      	rgba(0, 0, 0, 0.5)
    	), url('https://2.bp.blogspot.com/-2et9QVG9Ybo/W9De269gyWI/AAAAAAAADAY/GV7GxdXje2sUE3jNUVc30KEjOL4Q7VxtACLcBGAs/s1600/mindfulness2.JPG')
	}

	.darker2 {
	background-image: 
	linear-gradient(
      	rgba(0, 0, 0, 0.5),
      	rgba(0, 0, 0, 0.5)
    	), url('https://4.bp.blogspot.com/-jPfjAEtTPc0/W9De3M5zZzI/AAAAAAAADAc/rS7VaXeKA_c21K0zTM6cAmi-Kkj2iaymgCLcBGAs/s1600/mindfulness3.jpg')
	}

	.darker3 {
	background-image: 
	linear-gradient(
      	rgba(0, 0, 0, 0.5),
      	rgba(0, 0, 0, 0.5)
    	), url('https://3.bp.blogspot.com/-4iW-7skudLk/W9De3xwBSlI/AAAAAAAADAg/I3QJMZCbhHoYsNvIJNj-WqLKybaSY89AACLcBGAs/s1600/mindfulness4.jpg')
	}

	.darker4 {
	background-image: 
	linear-gradient(
      	rgba(0, 0, 0, 0.5),
      	rgba(0, 0, 0, 0.5)
    	), url('https://3.bp.blogspot.com/-MnjPk3uXKXc/W9De4QnjC6I/AAAAAAAADAk/KBeKi4O9Fqk2I562NMmsIc6Z_stkkdoggCLcBGAs/s1600/mindfulness5.jpg')
	}

	.darker5 {
	background-image: 
	linear-gradient(
      	rgba(0, 0, 0, 0.5),
      	rgba(0, 0, 0, 0.5)
    	), url('https://3.bp.blogspot.com/-6vrN3vN1emA/W9EAhjnMTDI/AAAAAAAADBM/FnxnZHuomqMbtX-AVKnn1qR7QqaU0oOUACLcBGAs/s1600/mindfulness6.jpg')
	}

	.darker6 {
	background-image: url('https://2.bp.blogspot.com/-fj5EjrCMc5Q/W80AxfFP-8I/AAAAAAAAC-g/YZ8k1shrkCEdHajagoc1XXMDy5OIDeMiACPcBGAYYCw/s320/pt-2.png')
	}
       

	.darker7 {
	background-image: 
	linear-gradient(
      	rgba(0, 0, 0, 0.5),
      	rgba(0, 0, 0, 0.5)
    	), url('https://1.bp.blogspot.com/-HN-yBonXCFw/W9De48LqFII/AAAAAAAADAo/1JLfHaj2bqUdrekToi5tmkWSK6pLh3D-ACLcBGAs/s1600/mindfulness7.jpg')
	}

        .hint_text {
        margin-top: 20px;
        color:#eee;
        font-size:30px;
        background-color:#282a2f;
        padding:15px;
        border: 1px solid #484d52;
        border-radius: 5px;
        font-size: 18px;
        }

	.fallback-message {
	color: #eee;
        line-height: 1.3;
        width: 780px;
        padding: 10px 10px 0;
        margin: 20px auto;
        border: 1px solid #E4C652;
        border-radius: 10px;
        }

        .fallback-message p {
        margin-bottom: 10px;
        }

        .impress-supported .fallback-message {
        display: none;
        }
                 
        em {
        font-style: normal;
        border-bottom: 1px solid #484d52;
        padding-bottom: 2px;
        color: #d5a830;
        }

        .impress-enabled .step {
        margin: 0;
        opacity: 0.7;
        transition:         opacity 1s;
        }

        .impress-enabled .step.active { opacity: 1 }

	li {
	margin-bottom: 15px;
	}


	#titulo .ola ul {text-align:center;}

	#titulo .ola ul {margin-bottom: 0px;}	

	#titulo .ola li{list-style:none;float:left;font-size:130%;-webkit-animation-name:floater;-webkit-animation-timing-function:ease-in-out;-webkit-animation-iteration-count:infinite;-webkit-animation-duration:5s;-webkit-animation-direction:alternate;-moz-animation-name:floater;-moz-animation-timing-function:ease-in-out;-moz-animation-iteration-count:infinite;-moz-animation-duration:5s;-moz-animation-direction:alternate;-ms-animation-name:floater;-ms-animation-timing-function:ease-in-out;-ms-animation-iteration-count:infinite;-ms-animation-duration:5s;-ms-animation-direction:alternate;-o-animation-name:floater;-o-animation-timing-function:ease-in-out;-o-animation-iteration-count:infinite;-o-animation-duration:5s;-o-animation-direction:alternate;animation-name:floater;animation-timing-function:ease-in-out;animation-iteration-count:infinite;animation-duration:5s;animation-direction:alternate}
	#titulo .ola li:nth-child(2){-webkit-animation-delay:.25s;-moz-animation-delay:.25s;-ms-animation-delay:.25s;-o-animation-delay:.25s;animation-delay:.25s}
	#titulo .ola li:nth-child(3){-webkit-animation-delay:.5s;-moz-animation-delay:.5s;-ms-animation-delay:.5s;-o-animation-delay:.5s;animation-delay:.5s}
	#titulo .ola li:nth-child(4){-webkit-animation-delay:.75s;-moz-animation-delay:.75s;-ms-animation-delay:.75s;-o-animation-delay:.75s;animation-delay:.75s}
	#titulo .ola li:nth-child(5){-webkit-animation-delay:1s;-moz-animation-delay:1s;-ms-animation-delay:1s;-o-animation-delay:1s;animation-delay:1s}
	#titulo .ola li:nth-child(6){-webkit-animation-delay:1.25s;-moz-animation-delay:1.25s;-ms-animation-delay:1.25s;-o-animation-delay:1.25s;animation-delay:1.25s}
	#titulo .ola li:nth-child(7){-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;-ms-animation-delay:1.5s;-o-animation-delay:1.5s;animation-delay:1.5s}
	#titulo .ola li:nth-child(8){-webkit-animation-delay:1.75s;-moz-animation-delay:1.75s;-ms-animation-delay:1.75s;-o-animation-delay:1.75s;animation-delay:1.75s}
	#titulo .ola li:nth-child(9){-webkit-animation-delay:2s;-moz-animation-delay:2s;-ms-animation-delay:2s;-o-animation-delay:2s;animation-delay:2s}
	#titulo .ola li:nth-child(10){-webkit-animation-delay:2.25s;-moz-animation-delay:2.25s;-ms-animation-delay:2.25s;-o-animation-delay:2.25s;animation-delay:2.25s}
	#titulo .ola li:nth-child(11){-webkit-animation-delay:2.50s;-moz-animation-delay:2.50s;-ms-animation-delay:2.50s;-o-animation-delay:2.50s;animation-delay:2.50s}


	@-webkit-keyframes floater{0%{margin-top:0}50%{margin-top:-20px}100%{margin-top:0}}@-moz-keyframes floater{0%{margin-top:0}50%{margin-top:-20px}100%{margin-top:0}}@-ms-keyframes floater{0%{margin-top:0}50%{margin-top:-20px}100%{margin-top:0}}@-o-keyframes floater{0%{margin-top:0}50%{margin-top:-20px}100%{margin-top:0}}@keyframes floater{0%{margin-top:0}50%{margin-top:-20px}100%{margin-top:0}}