div.separador {
  height: 10px;
}

.background-image,
.text-image {
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background-image {
  background-size: cover;
}

.item-with-bg-image .item-link {
  color: #ffffff;
}
.item-with-bg-image .item-link:hover .title,
.item-with-bg-image .item-link:focus .title {
  color: #ffffff;
}
.item-with-bg-image .item-link:hover .item-meta,
.item-with-bg-image .item-link:focus .item-meta {
  color: #e1e1e6;
}
.item-with-bg-image .title {
  color: #ffffff;
  line-height: 1.2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.item-with-bg-image .item-image {
  background-color: #ffffff;
  border: solid #ffffff;
  border-width: 0 1px 1px 0px;
  position: relative;
  width: 100%;
}
.item-with-bg-image .item-image:after {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  z-index: 1;
}
.item-with-bg-image .item-content {
  z-index: 3;
}
.item-with-bg-image .item-meta {
  color: #bebec3;
  font-size: 0.8em;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.item-image-tile {
  position: relative;
  min-height: 1px;
}
@media (min-width: 480px) {
  .item-image-tile {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .item-image-tile {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .item-image-tile {
    float: left;
    width: 25%;
  }
}
.item-image-tile:hover .item-content {
  opacity: 0;
}
.item-image-tile:hover .item-overlay {
  opacity: 1;
font-size: 20px;
  text-shadow: 2px 2px 3px black;}

.item-image-tile .v-align-middle {
  display: inline-block;
  vertical-align: middle;
}
.item-image-tile .item-image {
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 170px;
}
.item-image-tile .item-content,
.item-image-tile .item-overlay {
  line-height: 170px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.item-image-tile .item-content {
  padding-left: 36px;
  padding-right: 36px;
}
.item-image-tile .item-overlay {
  opacity: 0;
  padding-left: 18px;
  padding-right: 18px;
  z-index: 3;
}
.item-image-tile .overlay-content {
  font-size: 0.9em;
  line-height: 1.2em;
  max-height: 4.8em;
  overflow: hidden;
}
.item-image-tile .section-header-2 span {
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.3em;
  color: #ffffff;
}

.item-with-bg-image {
  color: #ffffff;
}
.item-with-bg-image:hover .item-image:after {
  background: rgba(148, 214, 0, 0.8);
}
.item-with-bg-image .item-inner {
  position: relative;
}
.item-with-bg-image .item-link {
  color: #ffffff;
}
.item-with-bg-image .item-link:hover .title,
.item-with-bg-image .item-link:focus .title {
  color: #ffffff;
}
.item-with-bg-image .item-link:hover .item-meta,
.item-with-bg-image .item-link:focus .item-meta {
  color: #e1e1e6;
}
.item-with-bg-image .title {
  color: #ffffff;
  line-height: 1.2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.item-with-bg-image .item-image {
  background-color: #ffffff;
  border: solid #ffffff;
  border-width: 0 1px 1px 0px;
  position: relative;
  width: 100%;
}
.item-with-bg-image .item-image:after {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  z-index: 1;
}
.item-with-bg-image .item-content {
  z-index: 3;
}
.item-with-bg-image .item-meta {
  color: #bebec3;
  font-size: 0.8em;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

@media (min-width: 480px) and (max-width: 991px) {
  .item-image-tile .item-image {
    height: 200px;
  }
  .item-image-tile .item-content,
  .item-image-tile .item-overlay {
    line-height: 200px;
  }
  .item-image-tile .item-overlay {
    padding-left: 27px;
    padding-right: 27px;
  }
  .item-image-tile .overlay-content {
    max-height: 7.2em;
  }
}
@media (min-width: 992px) {
  .item-container-item .item-image-tile {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .item-container-item .item-image-tile {
    width: 100%;
  }
}

.section-header-2 {
 font-size: 1.2em;
  color: #ffffff;
  text-align:center !important;
  }

.overlay-content p {
 font-size: 0.8em;
  color: #ffffff;
  text-align: center !important;
  font-weight: bold;
  }

#kraft1 {background-image: url( 'https://3.bp.blogspot.com/-rUEiP7d7-FM/W80F7zrx8tI/AAAAAAAAC-o/FQyhHlh9KNgCoTT7E4THtfvlHPaHYpxWwCLcBGAs/s320/philadelphia.png' );}

#kraft2 {background-image: url( 'https://2.bp.blogspot.com/-kgO_qVL5-ro/W80F8JsAeII/AAAAAAAAC-s/MgV_LbPihW83ckmn25SSDmCwFLDMkOVsgCLcBGAs/s320/dairylea.png' );}

#cafe {background-image: url( 'https://3.bp.blogspot.com/-a44nq7J1O6o/W8phttxWO1I/AAAAAAAAC-I/b0Yprp3t0IgxFjKsIN1kIreZvMnVjp65ACPcBGAYYCw/s320/sasa.jpg' );}

#ach {background-image: url( 'https://4.bp.blogspot.com/-AZy4U6F2tpM/W80IYRkTlGI/AAAAAAAAC_I/fZWX9rhKz5QAG_HG2SdJVeUdqJC4edXYgCLcBGAs/s1600/diagnostico.jpg' );}

#fresenuis {background-image: url( 'https://3.bp.blogspot.com/-nnG-523v4sg/W80F8AflWsI/AAAAAAAAC-w/9YXEbipnWPMEyCIN-zvK7nzOUagWPKsLACLcBGAs/s320/fresubin.jpg' );}